body {
  background: #FBF8F1;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.meta {
  position: absolute;
  left: 42px;
  top: 12px;
  height: 40px;
}

.meta1 {
  position: absolute;
  left: 35px;
  top: 6px;
  height: 53px;
  z-index: -1;
}

nav {
  position: relative;
  top: 2px;
  text-align: right;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  color: white;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 32px;
  border: none;
  background: #white;
  text-align: center;
  color: #black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  left: 5px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);

}
.Header {
  background-color: #343434;
  width: 100%;
  padding-top: 1px;
  position: sticky;
  top: 0;

  z-index: 1;

}


ul {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 20px;
}

ul li {
  display: inline-block;
  text-align: right;


}

li {
  margin: 5px;



}

li a {
  color: white;
}

.profile-picture {
  padding-top: 10%;
  height: 200px;
}

h1 {
  font-size: 70px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #1d2951;
  font-weight: normal;
  line-height: 2;
}

.paragraph {
  position: relative;
  bottom: 50px;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #1d2951;
  font-weight: lighter;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #1d2951;
  padding-bottom: 10px;
  line-height: 2;
}

.communication {
  letter-spacing: 2px;
}

h3 {
  color: #191970;
  line-height: 2;
  font-weight: normal;
}

p {
  position: relative;
  bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.top-container {
  background: rgba(0, 176, 255, .7);
  position: relative;
  padding-top: 100px;
}

/*---.pro * {
  text-decoration: underline;
}*/
.top-cloud {
  position: absolute;
  left: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  right: 200px;
  bottom: 150px;
}

.mountain {
  padding-top: 50px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #343434;
  padding: 20px 0 1px;
}

hr {
  width: 5%;
  border-style: dotted none none;
  border-width: 10px;
  border-color: #d3d3d3;
  margin: 100px auto 100px auto;
}

.first {
  margin-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  padding-top: 30px;
  text-align: left;
  line-height: 2;
}

.Critical {
  text-align: right;
  line-height: 2;
}

.Skills {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Logic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 20px;
  background: #343434;
  padding: 7px 16px 8px 18px;
  text-decoration: none;
  border: 1px solid white;
}

.btn:hover {
  background: #fff;
  border: 1px solid black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #100c08;
}

.linkedin {
  position: relative;
  left: 15px;
  top: 5px;
  height: 20px;
}

.instagram {
  position: relative;
  left: 15px;
  top: 5px;
  height: 20px;
}

.facebook {
  position: relative;
  left: 15px;
  top: 5px;
  height: 20px;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.Copyright {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 15px;
}
